.contacts-footer a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.adress__footer {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  margin-top: 20px;
  font-style: normal;
}
.link__footer {
  color: var(--contacts-color);
  padding-top: 9px;
}
