.section--padding {
  padding-top: 0;
}
.images {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.images__item {
  position: relative;
  display: inline-flex;
}
.images__title {
  position: absolute;
  left: 0;
  right: 0;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font-primary);
  text-align: center;
  background-color: var(--img-tittle-color);
  bottom: 0;
  padding: 27px;
}
