.logo__header-footer {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  color: var(--hover-color);
  margin-right: 93px;
}
.studio__header-footer {
  color: var(--studio-color);
}
.studio--2 {
  color: var(--white-color);
}
