.media-footer {
  margin-top: 12px;
}
.text-join-footer {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  letter-spacing: 0.06rem;
}
.social__media-footer {
  display: flex;
  margin-top: 20px;
}
.social__media-icons {
  margin-right: 10px;
}
