.footer-media {
  margin-top: 12px;
}
.header-media-footer {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  letter-spacing: 0.06rem;
}
.social-media-footer {
  display: flex;
  margin-top: 20px;
}
.social__media-icons {
  margin-right: 10px;
  cursor: pointer;
}
.social__media-link {
  display: flex;
  border-radius: 50%;
  background-color: var(--icon-footer-color);
  padding: 12px;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}
.social__media-icon {
  fill: var(--white-color);
}
