.header {
  border-bottom: 1px solid var(--border-buttom);
}
.container__header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: 500;
}
.header__nav {
  display: flex;
  align-items: center;
}
